.pages .subPage.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .song_player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    

    .song_Info{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.full_Title{
  margin-bottom: 20px;
  font-size: 15px;
  color: $SubTextColor;
}

.song_Info{
  margin-top: 20px;
  font-size: 12px;
  color: $SubTextColor;
}

.gap-player.green-audio-player{
  //width: 250px;
  //height: 40px;
  transform: scale(0.70);
}

.subscribe_container {
  position: relative;
  width: 100%;
  height: 700px;
  
  .subscribeBackground {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 1190px;
    z-index: 3;
    margin-top: 40px;
    margin-bottom: 40px;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 510px){
      top: 43%;
    }
  }
  
  .subscribeContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    z-index: 4;
  }

  .subscribeTitleMain,
  .subscribeTitleSecondary {
    display: inline-block;
    font-size: 45px;
    color: $MainTextColor;
    letter-spacing: 0.2em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-top: 0.4em;
    @media screen and (max-width: 510px){
      font-size: 28px;
    }
  }
  
  .subscribeMainInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    @media screen and (max-width: 510px){
      height: 160px;
      margin-top: 60px;
    }
  
    .buttonContainer{
      flex: 1;
      max-width: 40%;
      text-align: center;
      align-self: flex-end;
    }

    .artistPhoto {
      flex: 1;
      max-width: 40%;
      text-align: left;
      align-self: flex-end;
    }
  
    .buttonContainer {
      margin-right: 10px;
      margin-bottom: 10%;
    }

    .subscribeButton{
      font-size: 25px;
      letter-spacing: 0.1em;
      @media screen and (max-width: 510px){
        font-size: 15px;
      }
    }

    .artistName {
      flex: 1;
      max-width: 25%;
      text-align: center;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }

    .topTextContainer{
      margin-right: 0.2em;
      z-index: 6;
    }

    .topText{
      text-align: right;
      font-size: 50px;
      margin-bottom: 0;
      letter-spacing: 0.15em;
      color: $MainTextColor;
      @media screen and (max-width: 510px){
        font-size: 28px;
      }
    }

    .middleTextContainer{
      display: inline-flex;
      align-self: flex-end;
      margin-right: -6.3em;
      z-index: 6;
      @media screen and (max-width: 510px){
        margin-right: -3.7em;
      }
    }

    .middleText{
      text-align: right;
      font-size: 50px;
      margin-top: 0;
      margin-bottom: 0.9em;
      letter-spacing: 0.15em;
      color: $MainTextColor;
      @media screen and (max-width: 510px){
        font-size: 28px;
        margin-bottom: 0.25em;
      }
    }

    .redText{
      color: $SecondaryColor;
    }

    .artistImage {
      width: 85%;
      //height: 100%;
      object-fit: fill;
      z-index: 5;
    }
  }

  .subscribeSecondaryInfo{
    width: 95%;
  }

  .infoMainText{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 2px;
    color: $SubTextColor;
    font-size: 23px;
    letter-spacing: 0.15em;
    @media screen and (max-width: 510px){
      font-size: 20px;
    }
  }

  .infoSecondaryText{
    text-align: right;
    margin: 2px;
    color: $MainTextColor;
    font-size: 20px;
    letter-spacing: 0.25em;
    @media screen and (max-width: 510px){
      font-size: 17px;
    }
  }
}
  